.h1 {
  position: relative;
 bottom: 30px;
  font-size: 46px;
  text-align: center;
  z-index: 1;
  margin-bottom: 30px;
}
.h1::before {
  content: "";
    background-color: lightblue;

    position: absolute;
    float: left;
    height: 11vw;
    width: 100%;
    left: 0%;
    top: -0.3vw;
    z-index: -2;
  }
h2 {
            color: rgb(0, 232, 15);
        }
        body {
         background-image: url("myBackground.jpg");
         margin-left: 350px;
         margin-right: 350px;
           background-repeat: no-repeat;
}
box-sizing: border-box;

.buttons {
background-color: blue;
position: absolute;


  }
 .buttons {
   position: relative;
 }
.home {
   position: relative;
   top: -60px;
  float: left;
 width: 10%;
 padding-right: 35%;
 z-index: 3;
}
.java {
  float: left;
  position: relative;
     top: -60px;
 width: 10%;
 padding-right: 35%;
  z-index: 3;
}
.about {
   position: relative;
      top: -61px;
  float: left;
 width: 10%;
  z-index: 3;
}
.banner {
 margin: 0px auto;
 display: block;
 width: 100%;
  z-index: 2;
}
.text{
  position:relative;
  font-size: 24px;
 
text-align: center;
z-index: 2;
}
.text::before 
{
  content: "";
 background-color: lightgray;
    position: absolute;
        left: 0%;
        overflow-y: hidden;
    height: 270%;
    width: 100%;
    top: vw;
    z-index: -2;
}
.about_1 {
     position: absolute;
 top: 110%;
  float: left;
  left: 110px;
  width: 30%;
}
.about_2 {
   position: absolute;
   top: 110%;
  float: right;
  width: 19%;
  right: 100px;
}
.java_txt
{ position:relative;
  font-size: 24px;
  text-align: center;
  z-index: 2;
}
.java_txt::before 
{
  content: "";
 background-color: lightgray;
    position: absolute;
        left: 0%;
        overflow-y: hidden;
    height: 1930%;
    width: 100%;
    top: vw;
    z-index: -2;
}
.dance
{
  position:relative;
  float:left;
  z-index:3;
}
.race
{ 
position: relative;
top: -9w;
  float:right;
  z-index: 3;
}
