 h2 {
            color: rgb(0, 232, 15);
        }  
        body {
         background-image: url("myBackground.jpg");
}
box-sizing: border-box;

.button {
 display: block;
 float: left;
  width: 33.33%;
}
.home {
 width: 5%
}
.java {
 width: 5%
}
.about {
 width: 5%
}
.text_me {
 text-allign: center;
}
