 h2 {
            color: rgb(0, 232, 15);
        }  
        body {
         background-image: url("myBackground.jpg");
}
box-sizing: border-box;

.home {
 position: relative:
  top: -10px;
 width: 33.33%;
}
.java {
  position: relative:
  top: -10px;
 width: 33.33%
}
.about {
  position: relative:
  top: -10px;
 width: 33.33%
}
.banner {
 margin: 0px auto;
 display: block;
}
.text {
 text-allign: justify;
 width: 200px;
}
